.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

#nav_container {
    display: flex;
    flex-direction: row;
    flex-flow: center;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding: 16vb 0vb 0vb 0vb;
    border-bottom: 1px solid black;
}

#main_logo {
    display: flex;
    position:  absolute;
    left: 15px;
    top: 10px;
}

#nav_ul {
    display: flex;
    flex-direction: row;
    flex-flow: center;
    justify-content: space-around;
    gap: 3vb;
}

#nav_li{
    display: flex;
    flex-direction: row;
}

#nav_a{
    color: rgb(22, 23, 24);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2vb 5vb;
}

#nav_a:hover {
    background-color: rgba(4, 227, 235, 0.226);
}

#user_login{
    display: flex;
    position:  absolute;
    right: 15px;
    top: 10px;
}








